.button {
    display: block;
    width: 153px;
    height: 32px;
    background-color: #C70101;
    border-width: 0;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    &_first-section {
        width: 300px;
        height: 50px;
        background-color: #C70101;
        font-size: 16px;
    }
    & {
        width: 303px;
        height: 58px;
        font-size: 16px;
    }
    &-catalog {
        width: 135px;
        height: 44px;
        fill: #C70101;
        font-size: 14px;
    }
    &-catalog-tab {
        width: 223px;
        height: 52px;
        border-width: 2px;
        border-color: #D0D0D0;
        border-style: solid;
        color: #ffffffff;
        background-color: #000000ff;
        font-size: 18px;
        font-weight: 100;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.2s;
        &_active {
            background-color: #91ff00ff;
            color: #000000ff;
            font-weight: 500;
        }
        &:hover {
            box-shadow: 3px 3px 20px #C70101;
            border: none;      
        }
    }
}