.catalog {
    height: 1100px;
    padding-bottom: 80px;
    h2 {
        width: 415px;
        margin: 0 auto;
        color: #0D0D0D;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__tabs {
        margin-top: 46px;
        margin-bottom: 57px;
        list-style-type:none;
        display: flex;
        justify-content: center;
    }
    &__tab {
        margin-right: 5px;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: skew(-20deg);  
        }
    &__content {
        display: none;
        &_contentShow {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &-item {
        width: 27%;
        max-height: 500px;
        border-width: 2px;
        border-style: solid;
        border-color: #E8E8E8;
        padding: 18px;
        overflow: hidden;
        margin-bottom: 18px;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            margin-bottom: 15px;
        }
        &__link {
            color: #C70101;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        hr {
            height: 1px;
            margin: 17px 0 17px 0;
            background-color: #E8E8E8;
            border-width: 0;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 36px);
        }
        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 18px;
            }
        }
        &__info {
            position: relative;
            box-sizing: border-box;
            width: 50%;
            margin-left: 18px;
            padding-left: 5px;
            transform: translateX(0%);
            transition: 0.5s all;
            margin-top: 0;
            list-style-type: none;
            li {
                position: relative;
                padding-bottom: 10px;
                color: #555;
                font-size: 14px;
                font-weight: 100;
                line-height: 21px;
                &:before {
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    background-color: #C70101;
                    left: -12px;
                    top: 9px;

                }
            }
            &_active {
                transform: translateX(-100%);
                margin-left: 0px;
            }
        }
        &__title {
            color: #0D0D0D;
            font-size: 16px;
            font-weight: 900;
            // margin: 0 auto;
            text-align: center;
        }
        &__descr {
            width: 250px;
            color: #0D0D0D;
            font-size: 14px;
            font-weight: 100;
            margin: 0 auto;
            margin-top: 15px;
            margin-bottom: 10px;
            text-align: center
        }
        &__footer {
            display: flex;
            justify-content: space-between;
        }
        &__price {
            font-weight: 900;
            font-size: 20px;
            color: #050505;
            line-height: 1.1;
            text-align: left;
        }
        &__back {
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(calc(-50% - 9px));
            color: #C70101;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration-line: underline;
        }
    }
}