.consultation {
    height: 680px;
    padding: 100px 0 108px 0;
    background: url('../../img/section-consultation-bg2.jpg') center (center/cover) no-repeat;
    h2 {
        width: 799px;
        color: #FFF;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
    }
    &__descr {
        width: 426px;
        color: #FFF;
        font-size: 20px;
        font-weight: 100;
        line-height: 30px;
    }
}