.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        width: 460px;
        height: 270px;
        background-color: #C70101;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
    }
    address {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
    }
    &__phone {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
    }
    &__social-item {
        margin: 12px
    }
}