.contact-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 303px;
    input {
        height: 54px;
        margin-bottom: 11px; 
        border-radius: none;
        border-color: #fff;
        padding: 0 20px;
        font-size: 14px;
        color: #4B4B4B;
    }
    &_mt25 {
        margin-top: 25px;
    }
}