.overlay {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, 0.56);
}

.modal {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F2F2F2;
    min-height: 63px;
    width: 320px;
    padding: 40px;
    &__close {
      position: absolute;
      top: 0px;
      right: -45px;
      font-size: 40px;
      color: red;
      line-height: 17px;
      cursor: pointer;
    }
    &__subtitle {
        font-size: 19px;
        font-weight: bold;
        text-align: center;
        line-height: 33px;
    }
    &__descr {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    input {
        border-radius: 7px;
        border-width: 0px;
    }
}

.visible {
    visibility: visible;
}