.swiper {
    max-width: 3000px;
    max-height: 500px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    &-slide {
        max-height: 300px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 300px;
            max-width: 500px;
        }
    }
}